.datos-nombres-papas{
  margin-top:100px ;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.datos-nombres-papas_title{
  width: 100%;
  background-color: var(--color_principal);
  padding: 10px;
  border-radius: 10px;
}
.datos-nombres-papas_title p{
  text-align: center;
  font-family: var(--cursiva);
  font-size: 18px;
  
  color: var(--back-color);
}
.datos-nombres-papas_cards{  
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.datos-nombres-papas_card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.datos-nombres-papas_card p{
  font-weight: bold;
  font-size: 16px;
}

.datos_nombres-padrinos{
  margin-top:30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.datos_nombres-padrinos_tittle{
  font-weight: bold;
  font-family: var(--cursiva);
  font-size: 22px;
}
.datos_nombres-padrinos-name{
  font-size: 16px;
  font-weight: bold;
}
@media (min-width: 768px) {
  
  .datos-nombres-papas_title p{
    font-size: 30px;
  }
}