.regalos{
  margin-top: 100px;
}

.regalos-cards{
  width: 95%;
  margin: 50px auto;
  
}
.regalos-card{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 10px;
  height: 100%;

}
.regalos-card-title{
  margin: 20px 0;
  text-transform: uppercase;
}
.regalos-card-content p{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

.regalos-card-content span{
  margin-top: 10px;
  font-family: var(--cursiva);
  display: block;
  text-align: center;
  font-size: 28px;
}

